<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- https://github.com/spring-projects/spring-boot/blob/v1.5.13.RELEASE/spring-boot/src/main/resources/org/springframework/boot/logging/logback/defaults.xml -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />

    <property name="APP_NAME" value="wechat-spring-boot-component" />
    <property name="LOG_PATH" value="./logs" />
    <property name="LOG_FILE" value="${LOG_PATH}/wechat-spring-boot-component.log" />

    <appender name="APPLICATION"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/info/wechat-spring-boot-component.log</file>
        <encoder>
            <pattern><![CDATA[%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] [%level] [traceId:%X{EAGLEEYE_TRACE_ID}] [%class:%line] - %m %n ]]> </pattern>
            <charset>UTF-8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/info/wechat-spring-boot-component.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxHistory>5</maxHistory>
            <maxFileSize>1GB</maxFileSize>
            <totalSizeCap>20GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <!-- netty 日志-->
    <appender name="wechat-spring-boot-component-NETTY-APPENDER"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${LOG_PATH}/netty/wechat-spring-boot-component-biz.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <FileNamePattern>${LOG_PATH}/netty/wechat-spring-boot-component-netty.%d{yyyy-MM-dd}.%i.log</FileNamePattern>
            <maxHistory>30</maxHistory>
            <maxFileSize>2GB</maxFileSize>
            <totalSizeCap>20GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern><![CDATA[%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] [%level] [traceId:%X{EAGLEEYE_TRACE_ID}] [%class:%line] - %m %n ]]> </pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- 通用错误日志 -->
    <appender name="wechat-spring-boot-component-ERROR-APPENDER"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${LOG_PATH}/error/wechat-spring-boot-component-error.log</File>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <FileNamePattern>${LOG_PATH}/error/wechat-spring-boot-component-error.%d{yyyy-MM-dd}.%i.log</FileNamePattern>
            <maxHistory>30</maxHistory>
            <maxFileSize>2GB</maxFileSize>
            <totalSizeCap>10GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern><![CDATA[%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] [%level] [traceId:%X{EAGLEEYE_TRACE_ID}] [%class:%line] - %m %n ]]> </pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>


    <logger name="COMPONENT" level="${logback.info.level}" additivity="false">
        <appender-ref ref="wechat-spring-boot-component-BIZ-APPENDER"/>
        <appender-ref ref="wechat-spring-boot-component-ERROR-APPENDER"/>
    </logger>

    <logger name="EXCEPTION" level="${logback.info.level}" additivity="false">
        <appender-ref ref="wechat-spring-boot-component-EXCEPTION-APPENDER"/>
        <appender-ref ref="wechat-spring-boot-component-ERROR-APPENDER"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>